<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{:U('/Admin/Index/news')}">新闻中心</a></li>
            <li><a href="{:U('/Admin/Index/aboutus')}">关于我们</a></li>
            <li><a href="{:U('/Admin/Index/callus')}">联系方式&公司名称</a></li>
            <li><a href="{:U('/Admin/Index/zhuying')}">主营业务</a></li>
            <li><a href="{:U('/Admin/Index/hezuo')}">合作单位</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{:U('/Admin/Kdindex/kdindex')}">快递管理</a></li>
           
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{:U('/Admin/Login/inspsw')}">修改密码</a></li>
            <li><a href="{:U('/Admin/Login/loginout')}">安全退出</a></li>
           
          </ul>
        </div>